.wrapper {
  display: flex;
 position:relative;
  
 
}
.bar {
  width: 15vw;
  height: 100vh;
  background-color: #1e1e1e;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.586);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.lists {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}
.lists li {
  cursor: pointer;
  list-style: none;
  color: rgb(111, 107, 107);
  font-size: 20px;
  margin: 30px 0px;
  width: 100%;
  height: 40px;
}
.lists li:hover {
  background-color: rgba(240, 248, 255, 0.552);
  color: aquamarine;
}
.userwrapper{
  display: flex;
}

.addusercon{
 background-color: black;
 width: 100%;
 height: 100vh;
 padding: 20px;
}
.td{
  padding: 20px 40px;
}
.from{
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.from span{
 color: gray;
}
.inputs{
  width: 85vw;
  
  margin: 2rem 0px;
  padding: 10px 20px;
  border-radius: 10px;
  background: var(--bg-1);
  color: aqua;
}
.btn2{
  padding: 10px 20px;
  border-radius: 10px;
  background: var(--bg-1);
  color: whitesmoke;
  
}