.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    padding:0px 6rem;

}
.textCol{
    width: 60vw;
    
}

.h1{
    font-size: 4rem;
    color: rgba(117, 110, 110, 0.837);
    font-weight: 400;
    margin-bottom: 20px;
}
.p{
    color: rgba(11, 11, 10, 0.869);
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.img{
    width: 50%;
    object-fit: contain;
}
.btn{
    background-color: #0B60B0;
    border: none;
    padding: 15px 20px;
    margin: 10px 0px;
    border-radius: 5px;

}
.btn{
    color: whitesmoke;
    font-weight: bold;
    
}
@media (max-width:750px) {
    .wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2rem 2rem;
        flex-wrap: wrap-reverse;
        height: 100%;
    

    }
    .h1{
        font-size: 3rem;
    }
    .p{
        font-size: 14px;
    }
    .textCol{
        width: 100%;
        margin: 20px 0px;
    }
    .img{
        width: 100%;
        object-fit: contain;
    }
}
